body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header{
  margin-bottom: 20px;
}
.card{
  margin-bottom: 10px;
}
.icon-menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.expense-list{
  margin-top: 10px;
}
.expense-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
}
.list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.form-close-btn{
  display: flex;
  justify-content: flex-end;

}
.product-modal-btn{
  display: flex;
  justify-content: space-evenly;
}
.slider-value{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}
.price-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price-modal-btn{
  padding: 25px;
  margin-top: 10px;
}
.add-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-text{
  text-decoration-line: none !important;
}
.drawer-item{
  margin: 15px 10px;
}